In [1]:
# import the libraries
import pandas as pd
import numpy as np
import statistics

In [2]:
# Reading dataset to python
df=pd.read_excel('Dataset_w6.xlsx')
df

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.2,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.2,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.1,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.1,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.5,88.0,491.0
...,...,...,...,...,...,...,...
191,Venezuela (Bolivarian Republic of),SouthAmerica,912050.0,31977.0,11068.9,118.0,16324.0
192,Viet Nam,South-easternAsia,330967.0,95541.0,2067.9,136.0,174111.0
193,Yemen,WesternAsia,527968.0,28250.0,1106.4,136.0,6861.0
194,Zambia,EasternAfrica,752612.0,17094.0,1311.1,179.0,7442.0
195,Zimbabwe,EasternAfrica,390757.0,16530.0,890.4,99.0,5212.0

# 1. How many countries are there in the dataset.

In [3]:
df['country'].count()

196

# 2. How many countries with respect to the region are available in the dataset.

In [4]:
df['Region'].value_counts()

WesternAsia          18
EasternAfrica        17
Caribbean            16
WesternAfrica        15
SouthAmerica         12
SouthernEurope       12
South-easternAsia    11
EasternEurope        10
NorthernEurope       10
SouthernAsia          9
MiddleAfrica          9
CentralAmerica        8
WesternEurope         7
EasternAsia           7
SouthernAfrica        5
Polynesia             5
NorthernAfrica        5
Melanesia             5
CentralAsia           5
NorthernAmerica       4
Micronesia            4
Oceania               2
Name: Region, dtype: int64

# 3.a) On average which region has the highest  GDP per capita (current US$)

In [5]:
# Finding the average of GDP based on region
df1 = df[['Region', 'GDP per capita (current US$)']].groupby('Region').mean()
df1

                   GDP per capita (current US$)
Region
Caribbean                          15135.562500
CentralAmerica                      6348.137500
CentralAsia                         4329.880000
EasternAfrica                       2088.852941
EasternAsia                        27967.614286
EasternEurope                       9292.490000
Melanesia                           9261.960000
Micronesia                          5008.300000
MiddleAfrica                        3928.833333
NorthernAfrica                      3934.960000
NorthernAmerica                    57659.000000
NorthernEurope                     42098.220000
Oceania                            44823.250000
Polynesia                           8686.520000
South-easternAsia                  10299.027273
SouthAmerica                        8499.775000
SouthernAfrica                      4191.900000
SouthernAsia                        2968.400000
SouthernEurope                     14462.741667
WesternAfrica                       1013.140000
WesternAsia                        17013.938889
WesternEurope                      55387.128571

In [6]:
# Region with highest GDP
df1.nlargest(1,['GDP per capita (current US$)'])

                 GDP per capita (current US$)
Region
NorthernAmerica                       57659.0

NorthernAmerica has the highest GDP.

# 3.b) On average which region has the highest International trade: Imports (million US$)

In [7]:
# Finding the average of International trade based on region
df2 = df[['Region', 'International trade: Imports (million US$)']].groupby('Region').mean()
df2

                   International trade: Imports (million US$)
Region
Caribbean                                         3057.312500
CentralAmerica                                   57031.500000
CentralAsia                                      12063.400000
EasternAfrica                                     4726.176471
EasternAsia                                     451995.000000
EasternEurope                                    85243.900000
Melanesia                                         2896.400000
Micronesia                                          99.000000
MiddleAfrica                                      4381.222222
NorthernAfrica                                   35034.400000
NorthernAmerica                                 663552.250000
NorthernEurope                                  113407.200000
Oceania                                         112914.500000
Polynesia                                          432.000000
South-easternAsia                                98324.636364
SouthAmerica                                     32885.666667
SouthernAfrica                                   18005.600000
SouthernAsia                                     58199.333333
SouthernEurope                                   76666.666667
WesternAfrica                                     4898.333333
WesternAsia                                      46025.555556
WesternEurope                                   407498.428571

In [8]:
# Region with highest International trade
df2.nlargest(1,['International trade: Imports (million US$)'])

                 International trade: Imports (million US$)
Region
NorthernAmerica                                   663552.25

NorthernAmerica has the highest International trade

# 4. Which region has more consistent with respect to GDP per capita (current US$)

In [9]:
# Finding the variance of GDP per capita based on regions
df3 = df[['Region', 'GDP per capita (current US$)']].groupby('Region').var()
df3

                   GDP per capita (current US$)
Region
Caribbean                          2.125581e+08
CentralAmerica                     1.747609e+07
CentralAsia                        1.724089e+07
EasternAfrica                      1.380964e+07
EasternAsia                        7.554319e+08
EasternEurope                      2.932752e+07
Melanesia                          1.919844e+08
Micronesia                         2.323886e+07
MiddleAfrica                       2.782400e+07
NorthernAfrica                     9.500529e+05
NorthernAmerica                    6.630429e+08
NorthernEurope                     4.272915e+08
Oceania                            8.525438e+07
Polynesia                          4.838942e+07
South-easternAsia                  2.660752e+08
SouthAmerica                       1.826457e+07
SouthernAfrica                     4.741729e+06
SouthernAsia                       8.155069e+06
SouthernEurope                     9.104410e+07
WesternAfrica                      6.643805e+05
WesternAsia                        3.538970e+08
WesternEurope                      6.135761e+08

In [10]:
# Region which is more consistent
df3['GDP per capita (current US$)'].idxmin()

'WesternAfrica'

Western Africa is the region with least variance. So more consistent region is WesternAfrica.